/* SECTION CONHECIMENTO CONTEUDO 
***********************************/

.conhecimentos-area {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}

.conhecimentos-conteudo {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    overflow: auto;
}

.conhecimento-pad {
    width: 50%;
    min-width: 350px;
    padding: 1em;
   
}

.conhecimento {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0.1em 0.2em 1em;

}

.img-area {
    min-width: 105px;
    height: auto;
}

.img-conhecimento {
    width: 100%;
    min-width: 105px;
    height: auto;
    padding: 1em;
}

.img-conhecimento > img {
    height: 100%;
    width: 100%;
    padding: 0.4em;    
    background-attachment: fixed;
}

.descricao-conhecimento {
    align-items: center;
    width: 70%;
    min-width: 300px;
    height: 100%;
    padding: 0.5em;
}


/* Sprite com imagens para a section conhecimento 
*******************************************************/

.spriteangular, .spritebootstrap, .spritecss3, .spritehtml5, .spriteionic, 
.spritejavascript, .spritemysql, .spritephp{ 
    display: inline-block; 
    background: url('../img/conhecimento/sprite-conhecimento.png') no-repeat; 
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left; 
}
 
.spriteangular { background-position: -0px -0px; width: 150px; height: 150px; }
.spritebootstrap { background-position: -150px -0px; width: 150px; height: 150px; }
.spritecss3 { background-position: -0px -150px; width: 150px; height: 150px; }
.spritehtml5 { background-position: -150px -150px; width: 150px; height: 150px; }
.spriteionic { background-position: -0px -300px; width: 150px; height: 150px; }
.spritejavascript { background-position: -150px -300px; width: 150px; height: 150px; }
.spritemysql { background-position: -0px -450px; width: 150px; height: 150px; }
.spritephp { background-position: -150px -450px; width: 150px; height: 150px; }

