html, body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.0em;
}

/* TIPOGRAFIA 
****************/

a {
    color: white;
}

a:link {
    text-decoration: none;
    border: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.titulo {
    text-align: center;
    font-weight: bold;
    padding: 0 0 0.7em 0;
}

p {
    font-family: 'Bree Serif', serif;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}


hr {
    margin: 0 auto;
    padding: 0;
}

.linha {
    width: 10%;
    min-width: 100px;
    height: 0.8px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
}

/* BARRA DE NAVEGAÇÃO 
**************************/

header {
    height: 30em;
    width: 100%;
    color: white;
    background: url("../img/header-fundo.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 10px 10px 20px 10px;
    height: 6.50em;
    width: auto;
}

.navegacao-label {
    display: none;
    font-size: 2em;
    padding: 0 0.3em 0 0.3em;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 4px;
}

.navegacao-label:hover {
    background-color: rgb(1, 112, 140);
}

.navegacao-checkbox {
    display: none;
}


.links {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.10em;
    margin: 0 10px 0 0;
    padding: 2px 5px ;
    color: white;
}

.active {
    border-bottom: 2px solid blue;
}

.active > a {
    color: rgb(1, 112, 140);
}

.descricao-header {
    text-align: center;
    position: relative;
    top: 10em;
}

/* FOOTER
*************/

.footer-area {
    background-color: rgba(0, 0, 0, 0.926);
    color: white;
    overflow: auto;
    text-align: center;
}

.conteudo-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 9em 0 9em;
}

.conteudo-contato {
   padding: 2em;
}

.espaco-lista {
    padding-top: 1em;
}

.espaco-listas {
    padding-top: 0.6em;
}

.conteudo-contato > ul > li {
    
   text-align: left;
}

.conteudo-info {
    padding: 2em;
    max-width: 400px;;
}

.sociais > a{
    font-size: 1.5em;
    margin: 1em;
}

.conteudo-site {
    padding: 2em;
}


/* SPRITE DE IMAGEM PARA A PÁGINA
************************************/

.spriteheader-fundo, .spriteimagem-dev, .spritelogo, .spritelogo-footer{ 
    max-width: 100%; 
    background-size: 100%; 
    background-image: url('../img/sprite-index.png'); 
}
 
.spriteheader-fundo { background-position: 0 0%; background-size: 100%; }
.spriteimagem-dev { background-position: 0 70.588235%; background-size: 640%; }
.spritelogo { background-position: 0 90.396927%; background-size: 640%; }
.spritelogo-footer { background-position: 0 100%; background-size: 1280%; }