html, body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.0em;
}

/* Tipografia */

a {
    color: white;
}

a:link {
    text-decoration: none;
    border: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.titulo {
    text-align: center;
    font-weight: bold;
    padding: 0 0 0.7em 0;
}

p {
    font-family: 'Bree Serif', serif;
}


/* Barra de navegação */

header {
    height: 30em;
    width: 100%;
    color: white;
    background: url("../img/header-fundo.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 10px 10px 20px 10px;
    height: 6.50em;
    width: auto;
}


.links {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.10em;
    margin: 0 10px 0 0;
    padding: 2px 5px ;
    color: white;
}

.active {
    border-bottom: 2px solid blue;
}

.active > a {
    color: rgb(1, 112, 140);
}

.descricao-header {
    text-align: center;
    position: relative;
    top: 10em;
}

/* Conteudo sobre mim */

.itens-area {
    background: rgba(225, 225, 225, 0.638);
    position: relative;
    display: inline-block;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.imagem {
    padding: 30px;
    text-align: center;
}

.imagem > img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: rgba(148, 148, 148, 0.507);
    border-radius: 50%;
}

.sobre-descricao {
    padding: 2em;
    width: 70%;
    margin: 0 auto;
}

.sobre-descricao > p {
    text-indent: 3em;
}

/* Conhecimentos conteudo */

.conhecimentos-area {
    width: 100%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}

.conhecimentos-conteudo {
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

.conhecimento-pad {
    width: 50%;
    padding: 1em;
    display: flex;
    float: left;
}

.conhecimento {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0.1em 0.2em 1em;

}

.img-conhecimento {
    width: 30%;
    height: auto;
    padding: 1em;
}

.img-conhecimento > img {
    height: 100%;
    width: 100%;
    padding: 0.4em;    
    background-attachment: fixed;
}

.descricao-conhecimento {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 0.5em;
}

/* Footer */

.footer-area {
    background-color: rgba(0, 0, 0, 0.763);
    background-image: linear-gradient(135deg,
                        transparent,
                        transparent 14px,
                        rgba(0, 0, 0, 0.1) 14px,
                        rgba(0, 0, 0, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    color: white;
    overflow: auto;
    text-align: center;
}

.conteudo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4em 0 4em;
}

.conteudo-contato {
   padding: 2em;
}

.espaco-lista {
    padding-top: 1em;
}

.espaco-listas {
    padding-top: 0.6em;
}

.conteudo-contato > ul > li {
    
   text-align: left;
}

.conteudo-info {
    padding: 2em;
}

.sociais > a{
    font-size: 1.5em;
    margin: 1em;
}

.conteudo-site {
    padding: 2em;
}